# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Environment variables
.env

# VS Code
.vscode/

# JetBrains
.idea/

# Hugging Face cache
hf_cache/
.huggingface/

# OS files
.DS_Store
Thumbs.db